.marquee-track {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  animation: scroll-left 40s linear infinite;
  pointer-events: auto;
}

.marquee-logo {
  opacity: 0.5;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.mask-fade-edges {
  mask-image: linear-gradient(to right,
      transparent,
      black 10%,
      black 90%,
      transparent);
  -webkit-mask-image: linear-gradient(to right,
      transparent,
      black 10%,
      black 90%,
      transparent);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-33.33%);
  }
}